
body{
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}   
a[href]{
    text-decoration: none;
    color: white;
}
a[href]:hover{
    font-size:larger;
    text-decoration:underline;
}
center{
    overflow: auto;
}
.log{
cursor: pointer;
text-decoration: underline;
}
#email{
    border: 1px solid white;
    width: 300px;
    height: 35px;
    border-radius: 5px;

}
#email::placeholder{
    position: absolute;
    font-size: 15px;    
    left: -40px;
    color: rgb(167, 168, 168);
    
}
#next{
    background-color: rgba(92, 201, 92, 0.897);
    width: 300px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    border: none;
    font-size: 18px;
}
h5{
    color: white; 
    position: absolute;
    font-size: 15px;
    left: 49%;
    top: 55%;
    background-color: black; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.google{ 
    position: absolute;
    left: 39.7%;
    top: 68.2%;
    width: 30px;
}
#pass_ip::placeholder{
    text-align: start;
    
}
#mail_ip::placeholder{
    text-align: start;
}
.face{
    position: absolute;
    left: 40%;
    border-radius: 50%;
    width: 30px;
    top: 77.5%;
}
.apple{
    position: absolute;
    left: 38.8%;
    width: 60px;
    top: 86%;

}
#google_ip{
    width: 300px;
    border: 1px solid white;
    
}
#face_ip{
    width: 300px;
    border: 1px solid white;

}
#apple_ip{
    width: 300px;
    border: 1px solid white;

}
#mail_ip{
    width: 300px;
    border-radius: 0;
    border: 1px solid white;
}
#pass_ip{
    width: 300px;
    border-radius: 0;
    border: 1px solid white;
}
#tel_ip{
    width: 300px;
    border: 1px solid white;

}
#tel_ip::placeholder{
    color: white;
}
#google_ip::placeholder{
    color:  white;
    text-align: center;
}
#face_ip::placeholder{
    color:  white;
    text-align: center;
}
    #apple_ip::placeholder{
        color:  white;
        text-align: center;
    }
header{
    position: fixed;
    display: flex;
    margin-top: -6px;
    width: 98%;
    height: 50px;
    padding: 10px;
    background-color: black;

}


#h_logo{
    margin-left: 320px;
    
}


.home{
    display: flex;

}

input{
    width: 450px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
  font-size: var(--encore-text-size-base);
  border: none;
    
}
input:hover{
    border: 0.2px solid white;
}
input::placeholder{
    padding-left: 50px;
}
#search{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 440px;
    border-radius: 20px;
    top: 14px;
}
#search:hover{
    
    cursor: pointer;
}
#last{
    
    margin-left: 85%;
    margin-top: 10px;
    position: absolute;
    margin-right: 40;
    color: white;
font-size: larger;
    

}
#last1{
    margin-left: 91%;
    position: absolute;
    border: none;
    float: right;
    
}


#btn{
    font-size: larger;
    padding-left: 20px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
     border-radius: 20px;    
}


#box{
    display: flex;
}
#box1{
    display: inline-block;
    vertical-align: top;
    width: 29%;
    position: fixed;
    border-radius: 10px;
    padding: 20px;
    height: 40vw;
    background-color:rgb(18, 18, 18);
}

#header2{
     width: 30%;
     height: 7%;
     left: 10px;
     background-color: rgb(18, 18, 18);
     

    }
    #text{
        position: absolute;
        top: 26px;
        left: 65px;
    }
    #plus{
        position: absolute; 
        left: 380px;
        top: 15px;
    }
    #btn2{
        padding: 5px;
        border-radius: 15px;
        font-size:small;
        border: none;
    }

  
#box2{
    position: fixed;
    display:inline;
    padding: 5px;
    border-radius: 10px;
    left: 450px ;
    width: 69%;
    height: 42vw;
    background-color:rgb(32, 32, 32);
    overflow: auto;
    

}

#album{
  display: inline-flex;
    width: 150px;
    height: 150px;
    border-radius: 5px;

}
#album2{
    display: inline-flex;
    width: 130px;
    height: 150px;
    border-radius: 5px;


}

#artist{
    width: 145px;
    height: 145px;
    justify-content: space-around;
    border-radius: 50%;
    margin-left: 10px;
}
#cook:hover{
    cursor: pointer;
    text-decoration: underline;
}
span:hover{
    cursor: pointer;
    
}